.Leaderboard-table-wrapper {
  height: 100%;
  margin: 40px;
  border-color: red;
}

.Leaderboard-table-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
}

.Leaderboard-table-header h4 {
  margin: 0;
}

.Leaderboard-table-header-left {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Leaderboard-table-header-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Leaderboard-table-body {
  border-radius: 5px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.Leaderboard-table-body td {
  white-space: nowrap;
}
