.Spinner-wrapper {
  position: relative;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.Spinner-bounding {
  /* background-color: aqua; */
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Spinner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 184px;
  margin-top: 20px;
}

.Spinner-content {
  width: 400000px;
  display: flex;
  flex-wrap: nowrap;
}

.Spinner-overlay-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  z-index: 1000;
}

.Spinner-overlay-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  z-index: 1000;
}

.Spinner-btn {
  padding: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
}

.Spinner-tick {
  background-color: red;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  top: 0px;
  bottom: 0px;
  z-index: 999999999999;
}

.Spinner-itemsWon-content {
  padding-top: 20px;
}

.Spinner-itemsWon-Title {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Spinner-itemsWon-Title-left {
  /* position: absolute;
  left: 0; */
  /* background-color: aqua; */
}

.Spinner-itemsWon-Title-right {
  /* position: absolute;
  right: 0; */
  /* background-color: blueviolet; */
}

.Spinner-autospin {
  padding: 5px;
  font-size: 0.8em;
}

.Spinner-itemsWon {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
