.Cases-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.Cases-list {
  width: 100%
}

.Cases-loading {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0 auto; */
}