.cases {
  margin: 0;
  padding: 30px;
  top: 50px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  right: 300px;
  display: inline-flex;
  justify-content: center;
  align-content: flex-start;
  position: fixed;
  flex-wrap: wrap;
  width: calc(100% - 300px);
  height: calc(100vh - 250px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 40px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}