.Header-logo {
  position: relative;
  width: 90px;
  top: -24px;
  left: -10px;
}

.Header-logo img {
  position: absolute;
  /* background: url('https://i.imgur.com/csrxCfC.png'); */
  filter: drop-shadow(0 1px 2px rgba(0,0,0,0.2)) saturate(123%);
}