.Inventory-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}

.Inventory-list {
  width: 100%
}

.Inventory-items {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Inventory-loading {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin: 0 auto; */
}