.Leaderboard-table-wrapper {
  height: 100%;
  margin: 40px;
  /* display: flex;
  flex-wrap: nowrap;
  justify-content: center; */
  border-color: red;
}

.Leaderboard-table-body {
  border-radius: 5px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.Leaderboard-table-body td {
  white-space: nowrap;
}