.OpeningFeed-wrapper {
  border-top: 1px solid rgba(0,0,0,0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 300px;
  height: 200px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1000;
}

.OpeningFeed-overlay-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2); */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
  z-index: 1000;
}

.OpeningFeed-overlay-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2); */
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
  z-index: 1000;
}

/* animations */

.list-enter-active, .list-leave-active {
  transition: all 0.8s ease-in-out;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-250px);
}

.list-move {
  transition: transform 0.8s ease-in-out;
}
