.wrapper {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  height: calc(100vh - 250px);
}

.table-wrapper {
  margin: 10px;
}

.table-body {
  height: 100%;
  outline: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}