.feed {
  /* border-top: 1px solid rgba(0,0,0,0.2); */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 300px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px;
  /* background-color: white; */
  /* background-color: rgba(240,240,240,1); */
  display: flex;
  flex-wrap: nowrap;
  z-index: -1000;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2); */
}

.opening {
  flex-shrink: 0;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  width: 250px;
  height: 180px;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  /* box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2); */
}

.item-name {
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
}

.item-catagory {
  position: relative;
  z-index: 100;
  text-align: left;
  font-weight: lighter;
  font-size: 0.7em;
}

.opening-id {
  position: absolute;
  font-weight: bold;
  font-size: 1.1em;
  color: coral;
  top: 10px;
  right: 10px;
}

.item-image {
  filter: drop-shadow(0 10px 5px rgba(0,0,0,0.5)) saturate(123%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 175px;
  z-index: 0;
}

.item-price {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  left: 0;
  right: 0;
  text-align: center;
}

.rarity {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  border-radius: 0 0 5px 5px;
}

.overlay {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
  z-index: 1000;
}

/* animations */

.list-enter-active, .list-leave-active {
  transition: all 0.8s ease-in-out;
}
.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(-250px);
}

.list-move {
  transition: transform 0.8s ease-in-out;
}
