.Spinner-wrapper {
  position: relative;
  /* width: 100%; */
  height: 100%;

  width:1140px;
  margin: 0 auto;
}

.Spinner-bounding {
  /* background-color: palegreen; */
  height:300px;
  margin: 0 auto;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Spinner-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 184px;
  margin-top: 20px;

  /* outline: 1px solid rgba(0,0,0, 0.1); */
  /* box-shadow: inset 0 0 10px #000; */
}

.Spinner-content {
  width:400000px;
  display: flex;
  flex-wrap: nowrap;
}

.Spinner-overlay-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  z-index: 1000;
}

.Spinner-overlay-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0));
  z-index: 1000;
}

.Spinner-btn {
  padding: 10px;
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
}

.Spinner-tick {
  background-color: red;
  border-radius: 4px; 
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 4px;
  top: 0px;
  bottom: 0px;
  z-index: 999999999999;
}

.Spinner-itemsWon {
  padding: 20px;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
}

.Spinner-itemsWon-Title {
  /* background-color: purple; */
  font-size: 1.5em;
  font-weight: bold;
  height: 24px;
  width: 100%;
  /* text-align: center; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* ANIMATIONS */

.example-enter {
  opacity: 0.5;
  animation: push 0.2s linear 1;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.example-leave {
  /* opacity: 1; */
}

.example-leave.example-leave-active {
  /* opacity: 0.01; */
  /* transition: opacity .5s ease-out; */
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
@keyframes push{
  50%  {transform: scale(0.8);}
}
@keyframes pop{
  50%  {transform: scale(1.2);}
}
