.CaseCard-wrapper {
}

.CaseCard-card {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin: 20px;
  width: 250px;
  height: 300px;
}

.CaseCard-card:hover {
  /* animation: float-zoom 1s ease-in-out infinite; */
  transform: scale(1.05);
}

.CaseCard-card:hover .CaseCard-image {
  animation: float-card 2s ease-in-out infinite;
}

.CaseCard-content {
}

.CaseCard-title {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.CaseCard-image {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5)) saturate(123%);
}

.CaseCard-opened {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

@keyframes float-card {
  0% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(-8px);
  }
  100% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(0px);
  }
}

@keyframes float-zoom {
  50% {
    /* filter: drop-shadow(0 40px 20px rgba(0, 0, 0, 0.5)) saturate(123%); */
    transform: scale(1.05);
  }
}

.CaseCard-animation {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100px;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
}

.CaseCard-animation-content {
  display: flex;
  align-items: center;
  animation: spin-wheel 60s linear infinite;
}

.CaseCard-card:hover .CaseCard-animation-content {
  animation: spin-wheel 20s linear infinite;
}

.CaseCard-animation-content-item {
  /* padding: 10px; */
}

.CaseCard-animation-content-item-image {
  padding: 10px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.5)) saturate(123%) contrast(110%);
  width: 180px;
  transform: rotate(10deg);
}

.CaseCard-animation-content-item-image img{
  width: 100%;
}


@keyframes spin-wheel {
  100% {
    transform: translateX(-100%);
  }
}