.CaseCard-wrapper {
}

.CaseCard-card {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  margin: 20px;
  width: 250px;
  height: 300px;
}

.CaseCard-card:hover{
  /* animation: float-zoom 1s ease-in-out infinite; */
  transform: scale(1.05);

}

.CaseCard-card:hover img{
  animation: float-card 1.5s ease-in-out infinite;
}

.CaseCard-content {
}

.CaseCard-title {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.CaseCard-image {
  position: absolute;
  top: -20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 80%;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5)) saturate(123%);
}

.CaseCard-opened {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

@keyframes float-card {
  0% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(-8px);
  }
  100% {
    filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.5)) saturate(123%);
    transform: translatey(0px);
  }
}

@keyframes float-zoom {
  50% {
    /* filter: drop-shadow(0 40px 20px rgba(0, 0, 0, 0.5)) saturate(123%); */
    transform: scale(1.05);
  }
}