.App-wrapper {
  position: relative;
}

.App-content {
  z-index: -1001;
  position: absolute;
  /* width: 100%; */
  width: calc(100% - 300px);
  height: calc(100vh - 250px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    /* url("./tic-tac-toe.png"); */ url("./what-the-hex.png");
  /* url('./paper_fibers.png'); */
  overflow: hidden;
  overflow-y: auto;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
